.contact-container{
    height: 100vh;
}
.header{
    height: 15vh;
}
.main{
    height: 70vh;
    background-color: rgba(25, 26, 27, 0.699);
}
.footer{
    height: 15vh;
}
.form{
    background-color: rgba(36, 44, 44, 0.651);
}
.icono-contacto:hover{
    font-size: 3.2rem;
    cursor: pointer;
}


@media (max-width:550px) {
    .icono-contacto:hover{
        font-size: 2rem;
    }
}