.contenedor {
    width: 100vw;
    height: 100vh;
  }
  .sidebar {
    height: 100vh;
  }
 
  .main{
    height: 100vh;
    overflow-y: scroll;
  }
  .title-container {
    height: 25%;
  }
  .btn-none {
    display: none !important;
  }
  .initial-list {
    height: 70%;
    display: flex;
    flex-direction: column;
  }
  .title{
      text-shadow:2px 2px 0px rgba(7, 7, 7, 0.945) ;
  }
  .links:hover{
      color: aliceblue!important;
  }
 
  @media (max-width: 575px) {
    .sidebar {
      height: 15vh;
    }

    .main{
      height: 85vh;
    }
    .title-container {
      height: 100%;
    }
    .btn-none {
      display: initial !important;
      border: none!important;
    }
    .initial-list {
      display: none !important;
    }
  }
  